/0ad/
/akonadi/
/arkrc
/auth0/
/autostart/
/awesome-old/
/awesome-wm-theme-relz/
/bat/
/Bitwarden/
/Bitwarden CLI/
/BraveSoftware/
/bspwm/
/btop/
/caffeine/
/Caprine/
/cef_user_data/
/chromium/
/cmus/
/coc/
/composer/
/configstore/
/create-next-app-nodejs/
/dconf/
/discord/
/dmenu/
/draw.io/
/Electron/
/emaildefaults
/enchant/
/epdfview/
/eventviewsrc
/evince/
/evolution/
/eww/
/ExpanDrive/
/falkon/
/filezilla/
/flameshot/
/fontconfig/
/font-manager/
/gammyconf
/gconf/
/ghb/
/GIMP/
/github-copilot/
/glade.conf
/gnome-boxes/
/gnome-session/
/gtk-2.0/
/gtk-3.0/
/gtk-4.0/
/hexchat/
/htop/
/i3/
/ibus/
/importwizardrc
/inkscape/
/insight-nodejs/
/kconf_updaterc
/kdeconnect/
/kdeglobals
/kde.org
/kmail2rc
/knfsshare
/korgacrc
/korganizerrc
/Kvantum/
/lapce-stable/
/libaccounts-glib/
/libfm/
/libinput-gestures.conf
/libreoffice/
/libvirt/
/Liri/
/lutris/
/lvim/
/lximage-qt/
/Mailspring/
/manjaro/
/manjaro-hello.json
/menus/
/mimeapps.list
/MongoDB/
MongoDB Compass Isolated Edition/
/Compass/
/Isolated/
/Edition/
/monitors.xml/
/monitors.xml~
/mpv/
/neofetch/
/nextjs-nodejs/
/nitrogen/
/nvim/
/obsidian/
/obs-studio/
/pamac/
/pavucontrol.ini
/pipewire-media-session/
/pnmixer/
/pomotroid/
/Postman/
/powerline/
/procps/
/pulse/
/qt5ct/
/qtile/
/QtProject.conf
/qtws_Pocket/
/redshift/
/rofi/
/Slack/
/snes9x/
/spicetify/
/spotify/
/sqlitebrowser/
/systemd/
/teamviewer/
/Thunar/
/torbrowser/
/totem/
/transmission/
/Trolltech.conf
/Unknown Organization/
/user-dirs.dirs
/user-dirs.locale
/VirtualBox/
/vlc/
/webengineurlinterceptoradblockrc
/xfce4/
/yay/
/yelp/
/zoom.conf
/zoomus.conf
.gsd-keyboard.settings-ported
.vimrc
