ext html = nvim "$@"
ext txt = nvim "$@"
ext php = nvim "$@"
ext js = nvim "$@"
ext jsx = nvim "$@"
ext css = nvim "$@"
ext scss = nvim "$@"
ext sh = nvim "$@"
ext * = nvim "$@"

ext jpg = lximage-qt "$@"
ext jpeg = lximage-qt "$@"
ext png = lximage-qt "$@"
ext gif = lximage-qt "$@"
